DIALOG_1 DIALOG FIXED IMPURE  46, 26, 147, 71
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Serial Port Setup"
FONT 8, "Helv"
BEGIN
	CONTROL "DefaultIcon", 100, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 114, 9, 20, 18
	CONTROL "OK",          IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 33, 40, 14
	CONTROL "Cancel",      IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 47, 40, 14
	CONTROL "Port Setup",  103, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 6, 4, 96, 25
	CONTROL "Protocol",    104, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 6, 33, 72, 26
	CONTROL "Port",        106, "COMBOBOX", CBS_DROPDOWN | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 14, 35, 34
	CONTROL "Baud",        107, "COMBOBOX", CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 14, 43, 35
	CONTROL "",            108, "COMBOBOX", CBS_DROPDOWN | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 43, 59, 35
END

